@charset "utf-8";
h2 {
	font-size: 20px;
}
.k-table-container table tr th,
.k-table-container table tr td {
	padding-left:0;
}
.lc-table-c tr th {
	background: #f5f5f5;
}
.section-bd {

}
.section-indexDetail {
	margin: 10px 0 0 0px;
}
.table-w {
	margin: 20px 0 10px 0;
	min-height: 750px;
}
.section-pagation {
	display: block;
	width: 460px;
	margin: 0 auto 70px;
}
.lc-table-c tr td:first-child,
.lc-table-c tr th:first-child {
	padding-left: 12px;
}
.lc-table-c tr td,
.lc-table-c tr th {
	padding-left: 0;
}
.payment-tips {
	border: 1px dashed #ccc;
	padding: 5px 12px;
}
.payment-tips-title {
	font-weight: bolder;
	text-align: center;
}
.payment-t-i {
	text-align: left;
	line-height: 1.6;
	font-size: 12px;
}

/* 缴费详情 */
.search-w {
	position: relative;
	height: 35px;
}
.search-input-w {display: inline-block;vertical-align: middle;}
.payment-table .lc-table-c th i {font-style: normal;font-size: 12px;color: #aeaeae;}
.payment-table .lc-table-c th:first-child {width: 57px;}
.payment-table .lc-table-c th:first-child + th {width: 92px;}
.payment-table .lc-table-c th:first-child + th + th {width: 100px;}
.payment-table .lc-table-c th:first-child + th + th + th {width: 70px;}
.payment-table .lc-table-c th:first-child + th + th + th + th {width: 251px;}
.payment-table .lc-table-c th:first-child + th + th + th + th + th {width: 154px;}
.payment-table .lc-table-c th:first-child + th + th + th + th + th + th {width: 90px;}

.payment-table .lc-table-c tr td:first-child + td + td + td + td + td + td{padding-left: 10px;}

.activity-title {
	color: red;
}
a.activity-title {
	padding: 1px;
	color: red;
	border-bottom: 1px solid red;
}
a.activity-title:hover {
	color: #666;
	border-bottom: 1px solid #666;
}
/* 社团流水 */
.lc-table-c tr td .positive {
	color: #009A32;
}
.lc-table-c tr td .negative {
	color: #CB3330;
}

.btn-search {
	margin-left: 8px;
}
.date-w , .balance-w {
	display: inline-block;
	vertical-align: middle;
}
.date-w span {
	padding: 0 5px;
}

.balance-w {
	padding: 0 0 15px 0;
}
.balance-w2 {
	float: right;
	padding: 15px 0 0 0;
}
.balance-w span strong,
.total-w span strong {
	color: #FF9A33;
  	font-weight: 600;
  	font-size: 16px;
}
.inventory-table .lc-table-c th:first-child{
	width: 112px;
}
.inventory-table .lc-table-c th:first-child + th{
	width: 245px;
}
.inventory-table .lc-table th:first-child + th + th{
	width: 230px;
}

/*申请提现*/
.total-w {
	float: right;
	margin-bottom: 17px;
}
.transfer-table {
	padding-top: 15px;
}
a.btn-view {
	padding: 5px 16px;
	color: #999;
}
.info-w {overflow: hidden;
	padding: 15px 0 0 22px;
}
.info-item {
	margin-bottom: 10px;
}
.info-item-2 {
	float: left;
	margin-right: 45px;
}
.info-item-2 label {
	display: inline-block;
	width: 70px;
	letter-spacing: 1px;
	overflow: hidden;
}

.info-item-3 {
	height: 60px;
	clear: both;
}
.info-item-3 span {
	display: block;
	padding: 5px 0 0 0; 
	font-size: 13px;
	color: #999;
}
.info-item-3 span i{
	font-style: normal;
	padding: 5px;
	vertical-align: middle;
	color: #FD9A34;
}
.info-item input { 
	width: 74px; 
	margin-right: 5px;
}
.info-item-3 input { 
	width: 234px; 
}

.info-w input[type="submit"] {
	margin: 0 0 0 175px;
}
.hide {display: none;}